* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Golos Text', sans-serif;
    color: #000;
    background-color: #E2DECD;
    background-image: url('background lines.svg');
    background-position: center top;
    background-repeat: repeat-y;
    background-size: auto 100%;
}

.wrap {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

.unit {
    padding: 60px 0;
}

.title {
    font-size: 42px;
    margin-bottom: 40px;
    text-transform: uppercase;
}

.btn {
    background-color: #799A95;
    color: #fff;
    padding: 15px 30px;
    border-radius: 5px;
    text-decoration: none;
    font-weight: 600;
    display: inline-block;
    border: none;
    cursor: pointer;
}

.wide {
    width: 100%;
}

.header {
    background-color: #799A95;
    padding: 15px 0;
    border-top: 2px solid #fff;
    border-bottom: 2px solid #fff;
}

.header-box {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    max-height: 70px;
}

.menu {
    display: flex;
}

.link {
    color: #E2DECD;
    text-decoration: none;
    font-weight: 600;
    margin-left: 30px;
}

.text {
    font-size: 20px;
    line-height: 1.5;
    max-width: 800px;
    margin-bottom: 30px;
}

.goal {
    max-width: 650px;
    margin-left: auto;
    font-size: 20px;
    font-weight: 600;
    background-color: #fff;
    border: 2px solid #799A95;
    padding: 30px;
}

.grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: -10px;
}

.card {
    background-color: #799A95;
    color: #fff;
    padding: 20px;
    border-radius: 15px;
    flex: 1;
    min-width: 200px;
    text-align: center;
    border: 2px solid #fff;
    margin: 10px;
}

.item {
    background-color: #fff;
    border-radius: 30px;
    padding: 50px;
    margin-bottom: 40px;
}

.top {
    display: flex;
    align-items: baseline;
    margin-bottom: 30px;
}

.num {
    font-size: 32px;
    font-weight: 700;
    margin-right: 20px;
}

.name {
    color: #799A95;
    font-size: 24px;
}

.box {
    display: flex;
}

.col {
    flex: 1;
}

.col:first-child {
    margin-right: 40px;
}

.img {
    width: 100%;
    border-radius: 10px;
    margin-bottom: 20px;
}

.item .btn {
    display: block;
    width: fit-content;
    margin-left: auto;
    margin-top: 30px;
}

.info {
    text-align: center;
    margin-top: 60px;
    padding: 30px;
    border-top: 2px solid #799A95;
}

.form {
    max-width: 600px;
    margin: 0 auto;
    background-color: #fff;
    padding: 40px;
    border-radius: 20px;
}

.input {
    width: 100%;
    padding: 15px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

.area {
    min-height: 150px;
    resize: vertical;
}

.footer {
    background-color: #799A95;
    color: #E2DECD;
    padding: 20px 0;
    border-top: 2px solid #fff;
    border-bottom: 2px solid #fff;
    margin-top: 50px;
}

.foot-box {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.foot-title {
    color: #fff;
}

.socials {
    display: flex;
    align-items: center;
}

.socials a {
    margin-right: 15px;
    display: flex;
}

.copy {
    font-size: 14px;
}
